/* utility of flex alignment */
.u-flex {
	display: flex;
}

.u-flexTab{
	@media (--tablet-large){
		display:flex;
	}
}
.u-flexCenterTab{
	@media (--tablet-large){
		align-items: center;
	}
}

.u-flexCenter {
    align-items: center;
}

.u-reverseMobile {

    @media (--mobile-max) {
        flex-direction: column-reverse
    }
}

.u-flexGrow_1 {
	flex-grow: 1;
}
