/* utility to make content hide */

.u-hide {
    display: none;
}

.u-hideDesktop{
    display: block;

    @media (--tablet-large){
        display: none
    }
}

.u-hideMobile{
    display: none;

    @media (--tablet-large){
        display: block;
    }
}

