/* utility for spacing */

.u-pt_16{
    padding-top: 16px;
}
.u-pt_20{
    padding-top: 1.25rem;
}
.u-pt_25{
    padding-top: 1.5625rem;
}
.u-pt_35{
    padding-top: 2.1875rem;
}



/* Padding Top Bottom Only */

.u-ptb_10{
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

