/* Default anchor */

a{
	/*
    color: $color-link-base;
    */
    text-decoration: none;

    &:--enter{
    	/*
        color: $color-link-base;
        */
        outline: none;
        opacity: 1;
        color: inherit;
    }
}

:--headings > a{

    color: inherit;
}
