/* Default anchor */

a{
    color: $color-link-base;
    text-decoration: none;

    &:--enter{
        color: $color-link-base;
        outline: none;
    }
}

:--headings > a{

    color: inherit;
}
