/* Wrapper Object */

/* local object variables */

$wrapper-size-base: 1410px;

$wrapper-gutter: 15px;

$wrapper-gutter-small: 140px;


.o-wrapper{
    max-width: $wrapper-size-base;
    padding: * $wrapper-gutter;
    margin: 0px auto;
}

.o-wrapper--blog{

	@media (--tablet){
		padding: 0 100px;
	}
}


.o-wrapper--author {

	@media (--tablet-large){
			padding:0 50px;
	}

	@media (--desktop-small){

		padding:0 6rem;
	}

	@media (--desktop-large){
		padding:0 8.125rem;
	}
}