/* Global theme colors */

/* Base colors */

$black:             #000;
$white:             #fff;

/* Theme colors */
$color-red: 		#ff485b;
$color-sky:			#4dc1df;
$color-yellow:		#ffd900;
$color-purple:		#4e008b;
$color-mustard:		#ffa300;
$color-brand-black:	#1e242b;
$color-cream:		#d6d7d7;
$color-white-smoke:	#f5f5f5;
$color-light-grey:	#e3e3e3;
$color-dark-grey:	#999999;
$color-golden:		#ffcc66;
$color-sky-blue:	#3ac1e1;
$color-orange:		#ff6c4b;


$border-color:		#bbbbbb;

$red-btn-hover:		#ff6575;
$black-btn-hover:	#32373e;

/* Hr */
$hr-border-color:  $black; 

/* backgrounds */
$background-body:  $white;

/* Text colors */
$color-text-base:  $black;
$color-link-base:  $black;
