<p>{{ section.settings.marketing_giveaway_tagline }}</p>

{% schema %}
  {
    "name": "Marketing Tag line",
    "settings": [
        {
            "content": "Tag line",
            "type": "paragraph"
        },
        {
            "id": "marketing_giveaway_tagline",
            "label": "Content",
            "type": "text"
        }    ]
  }
 {% endschema %}