{% if section.blocks.size > 0 %}
  <div class="two-column text-center">
    <h3>Testimonials</h3>
    <div class="two-column_row text-center grid grid--uniform grid--view-items">
      {% for block in section.blocks %}
        <div class="two-column-col grid__item small--one-half medium-up--one-half">{{ block.settings.html }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Video testimonials",
    "class": "index-section",
    "blocks": [
      {
        "type": "testimonial",
        "name": "testimonial",
        "settings": [
          {
            "type": "html",
            "id": "html",
            "label": "insert video iframe"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}
