/* Button Component */
.c-btn {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: $button-top-botttom $button-left-right;
  background-color: $color-red;
  color: $white;
  font-family: $font-family-base;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: 15px;

  &:hover,
  &:focus {
    background-color: $red-btn-hover;
    outline: none;
  }

  &--black{
  	background-color: $black;

  	&:hover {
  		background-color: $black-btn-hover;
  	}
  }

  &--yellow {
    background-color: $color-yellow;
    border: 1px solid $color-yellow;
    color: $black;
  }

  &--blog {
    background-color: #333333;
    color: $white;
    font-size: 14px;
    padding:7px 15px;

    @media (--tablet){
      font-size: 22px;
      padding:12px 15px 14px;
    }

    &:hover,
    &:focus {
      background-color: #333333;
      color: $white;
      opacity: 1;
    }
  }
}

