.c-footer{
	background-color: $white;
}
	.c-footer__left{
		text-align: center;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color;
		@media (--tablet){
			text-align: left;
			margin-bottom: 0;
			border-bottom: 0;
			border-bottom: 0;
		}
	}

	.c-footer__right{
		text-align:center;
		@media (--tablet){
			@util center-block;
			text-align:left;
		}
		@media (--tablet-large){
			padding: 0;
		}
	}

	.c-footerLetter{

	}
		.c-footerLetter__label{
			font-size: 16px;
			margin-bottom: 8px;
    		letter-spacing: 0.4px;		
    	}

		.c-footerSocial__tag {
			color: $black;
		}


	.c-footerSocial {
		padding-top: 15px;
		float:none;

		&__li {
			background: #000;
		    text-align: center;
		    width: 30px;
		    height: 30px;
		    border-radius: 100%;
		    margin-right: 10px;
		}
		
		&__links{
			
			color: $white;

			&:hover {
				opacity:1;
				color: $white;
			}
		}

		.icon {
			width: 15px;
			height: 15px;
		}
	}

	.c-footer__own {
		border-top: 1px solid $border-color;
		margin-top: 24px;
		font-size: 12px;
		color: $color-light-grey;
		clear: both;
		position: relative;
		padding-bottom: 20px;
		padding-top: 100px;
		text-align: center;
		@media (--tablet){
			padding-top: 20px;
			text-align: left;
		}

		&:after {
			content:"";
			position: absolute;
			background: url('../footer-logo.jpg') no-repeat top center;
			width: 70px;
			height: 75px;
			left: 0;
			right: 0;
			top: 5px;
			margin: auto;
			background-size: 100%;

			@media (--tablet){
				top: -50px;
				width: 87px;
				height: 90px;
			}
		}

		a {
			margin: 0 5px;
		    display: block;
			
			@media (--tablet){
				margin: 0 10px;
				display: inline-block;
			}

			&:hover {
				color:#3d4246;
			}
		}

	}

		.c-footer__ownName {

			@media (--tablet){
				float: left;
			}
		}

		.c-footer__ownItem {
			@media (--tablet){
				display: inline-block;
				margin-right: 20px;
			}
		}

		.c-footer__ownTerms {

			@media (--tablet){
				float: right;
			}
		}

		.c-footer__ownTermsLink{
			
		}

	.c-footerBg{
		background: url('../footer-border.jpg') no-repeat top center;
		background-size: 100%;
	}
	
	.c-footerWidth{
		padding-top: 22px;
		/*
		border-top: 1px solid $border-color;
		*/
		@media (--tablet){
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}


.c-footerNav__block{
	font-size: 14px;
	margin-bottom: 20px;
	@media (--tablet){
		width: 33%;
		float: left;
		margin-bottom:0;
	}
}

	.c-footerNav__head{
		padding-bottom: 8px;
	}
	.c-footerNav__headLink{
		color: $black;
		font-size: 16px;
		letter-spacing: 1px;
	}

	.c-footerNav__link {
		font-weight: 500;
		padding-bottom: 7px;

		a {
			color: $black;
			&:hover {
				color:#333333;
			}
		}
	}


.c-footerInput {
	max-width: 430px;
	@media (--mobile-max){
		@util center-block;
		max-width: 280px;
	}

	@media (--tablet){
		display:flex;
	}

	&__item{
		border: 2px solid $black;
		border-radius: 1px;	
		font-size: 12px;
		text-transform: lowercase;
		padding: 0 12px;
		height: 37px;
		width: 100%;
		margin-bottom: 10px;
		@media (--tablet){
			width:231px;
			flex-grow: 1;
			height: auto;
			margin-bottom: 0;
		}

		@media (--tablet-large){
			width:auto;
		}

		&:focus {
			border:2px solid $black;
		}
	}

	&__btn{
		font-size: 14px;
		padding: 7px 22px;
		font-weight: 700;
		border: 2px solid $black;
		width: 100%;
		@media (--tablet){
			padding: 7px 27px;
			width: auto;
		}

		&:hover,
		&:focus {
			background-color: $black;
		}
	}
}