.c-footer{
	background-color: $white;
}
	.c-footer__left{
		text-align: center;
		overflow: hidden;
		@media (--tablet-large){
			width: 60%;
			float: left;
			text-align:left;
		}
	}
	.c-footer__right{
		overflow: hidden;
		text-align:center;
		@media (--tablet){
			padding:25px 60px;
			@util center-block;
			text-align:left;
		}

		@media (--tablet-large){
			width: 40%;
			padding: 0;
		}
	}

	.c-footerLetter{

		@media (--tablet){
			float:left;
		}
		@media (--tablet-large){
			float: none;
		}
	}


	.c-footerSocial {
		padding-top: 30px;
		float:none;
		@media (--tablet){
			float: right;
			padding-top: 35px;
		}

		@media (--tablet-large){
			padding-top:20px;
			float:none;
		}
		
		&__links{
			margin-right: 20px;
			color: $color-dark-grey;
		}
	}

	.c-footer__own {
		border-top: 1px solid $border-color;
		margin-top: 24px;
		padding: 20px 0;
		font-size: 12px;
		color: $color-light-grey;
	}

		.c-footer__ownTermsLink{
			margin: 0 5px;
			@media (--tablet){
				margin: 0 20px;
			}
		}

	.c-footerWidth{
		max-width: 1024px;
		padding-top: 22px;
		padding-left: 30px;
		padding-right: 30px;
		background: url('../footer-bg.png') no-repeat top right;

		@media (--tablet){
			padding-left: 70px;
			padding-right: 70px;
			padding-top: 45px;
		}
	}


.c-footerNav__block{
	font-size: 14px;
	margin-bottom: 10px;
	@media (--tablet){
		width: 33%;
		float: left;
		margin-bottom:0;
	}
}

	.c-footerNav__head{
		padding-bottom: 8px;
	}
	.c-footerNav__headLink{
		color: $black;
	}

	.c-footerNav__link {
		font-weight: 500;
		color: $color-dark-grey;
		padding-bottom: 7px;
	}


.c-footerInput {
	max-width: 355px;
	@media (--mobile-max){
		@util center-block;
		max-width: 280px;
	}

	&__item{
		border: 1px solid $border-color;
		border-radius: 1px;	
		font-size: 12px;
		text-transform: lowercase;
		flex-grow: 1;
		padding: 0 12px;

		@media (--tablet){
			width:231px;
		}
	}

	&__btn{
		font-size: 14px;
		padding: 7px 22px;
		font-weight: 700;
		border: 1px solid $black;
		@media (--tablet){
			padding: 7px 27px;
		}

		&:hover {
			border: 1px solid $black-btn-hover;
		}
	}
}