.c-headerNav {

	@media (--tablet-small-max ){
		position:absolute;
		left: 0;
		top: 0;
		width: 88.8%;
		background-color:$white;
		z-index: 9;
		padding-left:15px;
		left:-88.8%;
		transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
		box-shadow:2px 3px 7px -2px $black;
	}

	@media (--tablet-large){
		display:flex;
		text-align:center;
	}

	@media (--desktop-large){
		margin-left: 40px;
	}

	&__close{
		border-top:1px solid $border-color;
		padding:19px 27px 15px 0;
	}
	&__closeIcon{
		cursor: pointer;
	}
	&__pages {

	}
	&__external{
		padding-top:28px;
		padding-bottom:31px;
	}
	&__externalItem {
		padding:0 20px 14px 20px;
		
	}
	&__externalLink{
		color: $color-brand-black;
	}

	&__list {
		@media (--tablet-large){
			display: flex;
		}
	}

	&.is-NavOpen {
		@media (--tablet-small-max ){
			left:0%;
		}
	}
}
	.c-headerNav__item{

		@media (--tablet-small-max){
			border-top:1px solid $border-color;
			letter-spacing: 1px;
    		word-spacing: -3px;
    		padding-bottom:20px;		
    	}

		@media (--tablet-large){
			height: 80px;
			display:flex;
			align-items:center;
			font-size: 16px;
		}

		@media (--desktop-small){
			margin-left: 10px;
			margin-right: 10px;
		}
		@media (--desktop-large){
			margin-left: 16px;
			margin-right: 16px;
		}

		&:nth-of-type(3){
			.c-headerSubMenu__item {
				&:nth-of-type(7){
					@media (--tablet){
						border-top: 1px solid $color-white-smoke;
					}
				}
			}
		}

		&:nth-of-type(4){
			.c-headerSubMenu__item {
				&:nth-of-type(5){
					@media (--mobile-max){
						border-bottom: 0;
					}
				}
			}
		}
		&:hover {
			@media (--tablet-large){
				
				a {
					background-color: $color-light-grey;
					border-radius: 25px;
				}
				.c-headerNav__item--off{
					opacity: 0;
				}

				li {
					a {
						background-color: inherit;
					}
				}
			}
		}

		&.has-dropdown {
			
			@media (--tablet-small-max){
				position:relative;

				&:after {

					content: "";
					background: url('../up-arrow-angle.svg') no-repeat 9px 9px;
					size:32px;
					background-size:43%;
					position: absolute;
					background-color:$color-white-smoke;
					top: 12px;
					right: 12px;
					border-radius:100%;
				}
			}
		}

		&.is-open{
			@media (--tablet-small-max){
				
				&:after {

					content: "";
					transform: rotate(180deg);
				}
			}
		}

		&.is-active{
			.c-headerSubMenu {
				z-index: 99;
				background-color: $white;
				opacity: 1;
			}
			.c-headerSubMenu__item img{
				opacity: 1;
			}
		}
	}

		.c-headerNav__item--off {
			color: $color-red;
			font-size: 13px;

			@media (--tablet-large){
				position: absolute;
				left: 0;
				right: 0;
				bottom:14px;
			}
		}
		.c-headerNav__link {
			color: $color-brand-black;
			display: block;	
			@media (--tablet-small-max){
				padding:17px 20px 0 20px;
			}
			@media (--tablet-large){
				padding: 8px 16px;
			}
		}

	.c-headerNav__border {
		@media (--tablet-small-max){
			border-bottom:1px solid $border-color;
		}

		&:before{
			@media (--tablet-large){
				content: "";
				width: 1px;
				height: 30px;
				position: absolute;
				background-color: $color-light-grey;
				left: 0;
				top: 50%;
				margin-top: -15px;
			}

			@media (--desktop-small){
				left:-19px;
			}
		}
	}
