.c-headerNav {

	@media (--tablet-small-max ){
		position:absolute;
		left: 0;
		top: 0;
		width: 88.8%;
		background-color:$white;
		z-index: 9;
		padding-left:15px;
		left:-88.8%;
		transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
	}

	@media (--tablet-large){
		display:flex;
		text-align:center;
	}

	@media (--desktop-large){
		margin-left: 40px;
	}

	&__close{
		border-top:1px solid $border-color;
		padding:19px 27px 15px 0;
	}
	&__closeIcon{
		cursor: pointer;
	}
	&__pages {

	}
	&__external{
		padding-top:28px;
		padding-bottom:31px;
	}
	&__externalItem {
		padding:0 20px 14px 20px;
		
	}
	&__externalLink{
		color: $color-brand-black;
	}

	&__list {
		@media (--tablet-large){
			display: flex;
		}
	}

	&.is-NavOpen {
		@media (--tablet-small-max ){
			left:0%;
		}
	}
}
	.c-headerNav__item{

		@media (--tablet-small-max){
			padding:17px 20px;
			border-top:1px solid $border-color;
			letter-spacing: 1px;
    		word-spacing: -3px;		
    	}

		@media (--tablet-large){
			height: 80px;
			display:flex;
			align-items:center;
			font-size: 16px;
		}

		@media (--desktop-small){
			margin-left: 10px;
			margin-right: 10px;
		}
		@media (--desktop-large){
			margin-left: 16px;
			margin-right: 16px;
		}
		&:hover {
			@media (--tablet-large){
				.c-headerSubMenu {
					display: block;
				}
				a {
					background-color: $color-light-grey;
					border-radius: 25px;
				}
				span{
					opacity: 0;
				}

				li {
					a {
						background-color: inherit;
					}
				}
			}
		}

		span{
			color: $color-red;
			font-size: 13px;

			@media (--tablet-large){
				position: absolute;
				left: 0;
				right: 0;
				bottom:14px;
			}
		}

		&.has-dropdown {
			
			@media (--tablet-small-max){
				
				&:after {

					content: "";
					background: url('../up-arrow-angle.svg') no-repeat 9px 9px;
					size:32px;
					background-size:43%;
					position: absolute;
					background-color:$color-white-smoke;
					top: 12px;
					right: 12px;
					border-radius:100%;
				}
			}
		}

		&.is-open{
			@media (--tablet-small-max){
				
				&:after {

					content: "";
					transform: rotate(180deg);
				}
			}
		}
	}
		.c-headerNav__link {
			display: inline-block;
			color: $color-brand-black;
			@media (--tablet-large){
				padding: 8px 16px;
			}
		}

	.c-headerNav__border {
		@media (--tablet-small-max){
			border-bottom:1px solid $border-color;
		}

		&:before{
			@media (--tablet-large){
				content: "";
				width: 1px;
				height: 30px;
				position: absolute;
				background-color: $color-light-grey;
				left: 0;
				top: 50%;
				margin-top: -15px;
			}

			@media (--desktop-small){
				left:-19px;
			}
		}
	}

.c-headerSubMenu {
	display: none;
	padding-top: 20px;
    padding-bottom: 9px;

	@media (--tablet-large){
		width: 188px;
		position: absolute;
		background-color: $white;
		left: -7px;
		top: 72px;
		z-index: 1;
		padding: 1.125rem;
	}
}
	.c-headerSubMenu__item{
		font-size: 15px;
		margin-bottom: 1rem;

		&:last-of-type{
			margin-bottom: 0;
		}
	}

#privy-container {
	display:none !important;
}
