.c-helloBar {
	width: 100%;
	background-color: $color-brand-black;
	height: 34px;
}
	.c-helloBar__title {
		text-align: center;
		width: 100%;
		@media(--tablet-large){
			text-align:left;
			width:auto;
		}
	}



.c-helloBarNav{

}
	.c-helloBarNav__item{
		margin-right: 15px;
	}

	.c-helloBarNav__link {
		letter-spacing: 0.8px;
	}
