.c-headerBar {
	width: 100%;
	background-color: $color-brand-black;
	font-family: $font-azosans;
	font-size: 14px;
	padding: 7px 0;
}
	.c-headerBar__message {
		width: 100%;
		font-size: 12px;
		float: none;	
		color: $color-cream;
		
		@media(--tablet-large){
			width:auto;
			font-size:14px;
			float:right;
		}

		&:hover {
			color: $color-cream;
		}
	}



.c-topNav {
	
}
	.c-topNav__item {
		margin-right: 10px;
		display: inline-block;
	}

	.c-topNav__link {
		letter-spacing: 0.8px;
		color: $color-cream;
	}
