</div>
<div class="c-marketing">
    <div class="c-marketingHero">
        <div class="o-wrapper">
            <div class="c-marketingHero__left">
               {% section 'marketing-hero' %}
           </div>
        </div>
    </div>

    <div class="c-marketingSpiner">
        {% include 'product-slider' %}
    </div>
 
    <div class="c-marketingSignUp u-textCenter">
        <div class="o-wrapper">
            {% section 'marketing-signup' %}
        </div>
    </div>

    <div class="c-marketingPro">
        <div class="o-wrapper">
            {% section 'pro-team' %}
        </div>
    </div>

    <div class="c-marketingGive">
        <div class="o-wrapper">
            <div class="o-grid">
                <div class="c-marketingGive__container u-clearFix">
                    {% section  'marketing-giveaway' %}
                </div>
            </div>
        </div>
    </div>

    <div class="c-marketingGive__info u-hideMobile">
         <div class="o-wrapper">
            <div class="o-grid">
                <div class="c-marketingGive__bottom u-clearFix">
                    <div class="o-wrapper--small">
                        {% section 'marketing-giveaway-bottom' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-marketingSubmit">
        <div class="o-wrapper">
            <div class="o-grid">
                <div class="c-marketingSubmit__container">
                    {% section 'marketing-submit' %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="c-marketing__proInfo">
        <div class="o-wrapper--small">
            {% section 'marketing-tagline' %}
        </div>
    </div>
</div>