/* high specificity selectors */
#privy-container #privy-inner-container div.privy-tab.privy-corner.privy-top.privy-left:hover {
	width:160px !important;
	height: 160px !important;
}
#privy-container #privy-inner-container div.privy-tab.privy-corner.privy-top.privy-left {
	font-size: 12px;
	margin-top: -90px !important;
    margin-left: -90px !important;
}


.main-content {
	padding-bottom: 35px;
}

.shopify-section.index-section.index-section--no-top-padd .two-column {
	.two-column-content {
		@media (min-width:750px){
			width: 75%;
		}

		h3 {
			@media (min-width: 750px){
				font-size: 26px;
			}

			@media (min-width: 1024px){
				font-size:1.66667em;
			}
		}
	}
}

#shopify-section-1496854090611 .grid {
	margin-left: 0;
}